<ul class="user-repo-list">
  <h1><%- text %></h1>
  <li class="user-repo animated-item-view animated-item-view-end"><a href="/foods/1">
  Food 1
  </a>
  </li>
  <li class="user-repo animated-item-view animated-item-view-end"><a href="/foods/2">
  Food 2
  </a>
  </li>
  <li class="user-repo animated-item-view animated-item-view-end"><a href="/foods/3">
  Food 3
  </a>
  </li>
  <li class="user-repo animated-item-view animated-item-view-end"><a href="/foods/4">
  Food 4
  </a>
  </li>
  <li class="user-repo animated-item-view animated-item-view-end"><a href="/foods/5">
  Food 5
  </a>
  </li>
</ul>
