/*! normalize.css v2.1.3 | MIT License | git.io/normalize */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}
audio,
canvas,
video {
    display: inline-block
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden],
template {
    display: none
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0
}
a {
    background: transparent
}
a:focus {
    outline: thin dotted
}
a:active,
a:hover {
    outline: 0
}
h1 {
    font-size: 2em;
    margin: .67em 0
}
abbr[title] {
    border-bottom: 1px dotted
}
b,
strong {
    font-weight: 700
}
dfn {
    font-style: italic
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}
mark {
    background: #ff0;
    color: #000
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em
}
pre {
    white-space: pre-wrap
}
q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -.5em
}
sub {
    bottom: -.25em
}
img {
    border: 0
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 0
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}
legend {
    border: 0;
    padding: 0
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}
button,
input {
    line-height: normal
}
button,
select {
    text-transform: none
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled],
html input[disabled] {
    cursor: default
}
input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}
input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto;
    vertical-align: top
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
@font-face {
    font-family: fontello;
    src: url(../fonts/fontello.eot);
    src: url(../fonts/fontello.eot?#iefix) format('embedded-opentype'), url(../fonts/fontello.woff) format('woff'), url(../fonts/fontello.ttf) format('truetype'), url(../fonts/fontello.svg#fontello) format('svg');
    font-weight: 400;
    font-style: normal
}
.icon:before {
    font-family: fontello;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    opacity: .9;
    text-shadow: 1px 1px 1px rgba(127, 127, 127, .3);
    line-height: 1em;
    font-size: 120%
}
.icon-cog:before {
    content: '\2699'
}
.icon-pencil-1:before {
    content: '\e800'
}
.icon-trash:before {
    content: '\e729'
}
.icon-logout:before {
    content: '\e741'
}
.icon-github:before {
    content: '\f308'
}
.icon-github {
    font-size: 80%
}
.the-icons li {
    font-size: 14px;
    line-height: 24px;
    height: 24px
}
pre code {
    display: block;
    padding: .5em;
    background: #272822
}
pre .params .identifier .keymethods {
    color: #FD971F
}
pre .tag,
pre .tag .title,
pre .keyword,
pre .literal,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .nginx .title,
pre .tex .special {
    color: #F92672
}
pre code {
    color: #DDD
}
pre code .constant {
    color: #66D9EF
}
pre .class .title {
    color: #fff
}
pre .attribute,
pre .symbol,
pre .value,
pre .regexp {
    color: #BF79DB
}
pre .tag .value,
pre .string,
pre .ruby .subst,
pre .title,
pre .haskell .type,
pre .preprocessor,
pre .ruby .instancevar,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .ruby .string,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .input_number {
    color: #A6E22E
}
pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
    color: #75715E
}
pre .keyword,
pre .literal,
pre .css .id,
pre .phpdoc,
pre .title,
pre .haskell .type,
pre .vbscript .built_in,
pre .sql .aggregate,
pre .rsl .built_in,
pre .smalltalk .class,
pre .diff .header,
pre .chunk,
pre .winutils,
pre .bash .variable,
pre .apache .tag,
pre .tex .special,
pre .request,
pre .status {
    font-weight: 700
}
pre .coffeescript .javascript,
pre .xml .css,
pre .xml .javascript,
pre .xml .vbscript,
pre .tex .formula {
    opacity: .5
}
.loading {
    margin: 10% auto;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #fc0;
    border-top: 3px solid #fc0;
    border-radius: 100%;
    height: 32px;
    width: 32px;
    -webkit-animation: spin .6s infinite linear;
    -moz-animation: spin .6s infinite linear;
    -ms-animation: spin .6s infinite linear;
    -o-animation: spin .6s infinite linear;
    animation: spin .6s infinite linear
}
@keyframes "spin" {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
@-webkit-keyframes "spin" {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
@-ms-keyframes "spin" {
    from {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -ms-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
@-o-keyframes "spin" {
    from {
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -o-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
.users {
    margin: 0 -5px
}
.edit-post-body {
    height: 56px;
    width: 100%
}
.new-post-body {
    width: 100%;
    height: 100px;
    margin-top: 5px;
    padding: 5px
}
.post {
    position: relative;
    padding: 5px 0
}
.post-avatar-container {
    position: relative;
    display: block;
    float: left
}
.post-content {
    min-height: 60px;
    margin-left: 70px;
    padding: 0 5px 5px
}
.post-author {
    margin-right: 3px;
    font-family: OpenSansBold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400
}
.post-metadata {
    float: right;
    font-style: italic
}
.post-icons {
    float: right
}
.post-buttons {
    margin-top: 10px;
    text-align: right
}
.topic-posts>.collection-indicator,
.topic-posts>.collection-fallback {
    text-align: center
}
.repo-topic {
    padding: 10px 0;
    -webkit-border-image: url(../images/hr.gif) 3 0 repeat;
    -moz-border-image: url(../images/hr.gif) 3 0 repeat;
    -o-border-image: url(../images/hr.gif) 3 0 repeat;
    border-image: url(../images/hr.gif) 3 0 repeat;
    border-width: 3px 0 0
}
.repo-topic:last-child {
    border-bottom-width: 3px
}
.search-banner {
    text-align: center
}
.search-input {
    font-size: 26px
}
@font-face {
    font-family: OpenSansLight;
    src: url(../fonts/OpenSans-Light-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSans-Light-webfont.woff) format('woff'), url(../fonts/OpenSans-Light-webfont.ttf) format('truetype'), url(../fonts/OpenSans-Light-webfont.svg#OpenSansLight) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: OpenSansLightItalic;
    src: url(../fonts/OpenSans-LightItalic-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSans-LightItalic-webfont.woff) format('woff'), url(../fonts/OpenSans-LightItalic-webfont.ttf) format('truetype'), url(../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: OpenSansRegular;
    src: url(../fonts/OpenSans-Regular-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSans-Regular-webfont.woff) format('woff'), url(../fonts/OpenSans-Regular-webfont.ttf) format('truetype'), url(../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular) format('svg');
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased
}
@font-face {
    font-family: OpenSansItalic;
    src: url(../fonts/OpenSans-Italic-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSans-Italic-webfont.woff) format('woff'), url(../fonts/OpenSans-Italic-webfont.ttf) format('truetype'), url(../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic) format('svg');
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased
}
@font-face {
    font-family: OpenSansSemibold;
    src: url(../fonts/OpenSans-Semibold-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSans-Semibold-webfont.woff) format('woff'), url(../fonts/OpenSans-Semibold-webfont.ttf) format('truetype'), url(../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold) format('svg');
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased
}
@font-face {
    font-family: OpenSansSemiboldItalic;
    src: url(../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSans-SemiboldItalic-webfont.woff) format('woff'), url(../fonts/OpenSans-SemiboldItalic-webfont.ttf) format('truetype'), url(../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic) format('svg');
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased
}
@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/OpenSans-Bold-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSans-Bold-webfont.woff) format('woff'), url(../fonts/OpenSans-Bold-webfont.ttf) format('truetype'), url(../fonts/OpenSans-Bold-webfont.svg#OpenSansBold) format('svg');
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased
}
@font-face {
    font-family: OpenSansBoldItalic;
    src: url(../fonts/OpenSans-BoldItalic-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSans-BoldItalic-webfont.woff) format('woff'), url(../fonts/OpenSans-BoldItalic-webfont.ttf) format('truetype'), url(../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic) format('svg');
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased
}
body {
    padding: 0 0 20px;
    margin: 0;
    font: 14px/1.5 OpenSansRegular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #f0e7d5;
    font-weight: 400;
    background: -webkit-linear-gradient(top, #2a2a29, #1c1c1c);
    background: -moz-linear-gradient(top, #2a2a29, #1c1c1c);
    background: -o-linear-gradient(top, #2a2a29, #1c1c1c);
    background: -ms-linear-gradient(top, #2a2a29, #1c1c1c);
    background: linear-gradient(to bottom, #2a2a29, #1c1c1c);
    background-attachment: fixed
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #e8e8e8;
    margin: 0 0 10px;
    font-family: OpenSansRegular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400
}
p,
ul,
ol,
table,
pre,
dl {
    margin: 0 0 20px
}
h1,
h2,
h3 {
    line-height: 1.1
}
h1 {
    font-size: 32px
}
h2 {
    font-size: 28px
}
h3 {
    font-size: 24px
}
h4 {
    font-size: 20px
}
h4,
h5,
h6 {
    color: #e8e8e8
}
a,
a:visited {
    color: #fc0;
    font-weight: 400;
    text-decoration: none
}
a:hover {
    color: #ffeb9b
}
a small {
    font-size: 11px;
    color: #666;
    margin-top: -.6em;
    display: block
}
ul {
    list-style-image: url(../images/bullet.png)
}
strong {
    font-family: OpenSansBold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400
}
blockquote {
    border-left: 3px solid #fc0;
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic
}
code {
    font-family: Menlo, monospace, serif;
    color: #efefef;
    font-size: 13px;
    padding: 2px 3px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}
pre {
    padding: 8px 15px;
    background: #191919;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #121212;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3);
    overflow: auto;
    overflow-y: hidden
}
pre code {
    margin: 0;
    padding: 0;
    color: #efefef;
    text-shadow: 0 1px 0 #000;
    background: #191919
}
table {
    width: 100%;
    border-collapse: collapse
}
th {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #434343;
    color: #b6b6b6;
    font-family: OpenSansSemibold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400
}
td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #434343
}
hr {
    border: 0;
    outline: 0;
    height: 3px;
    background: transparent url(../images/hr.gif) center center repeat-x;
    margin: 0 0 20px
}
dt {
    color: #f0e7d5;
    font-family: OpenSansSemibold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.outer-container {
    max-width: 950px;
    margin: auto;
    padding: 70px 20px 50px
}
@media all and (max-width: 380px) {
    .outer-container {
        padding-top: 90px
    }
}
.page-container {
    position: relative
}
.content-container {
    padding-top: 10px
}
.content-container img {
    max-width: 100%
}
.animated-item-view {
    opacity: 0;
    -ms-filter: "alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: opacity .5s cubic-bezier(0.19, 1, .22, 1);
    -moz-transition: opacity .5s cubic-bezier(0.19, 1, .22, 1);
    -o-transition: opacity .5s cubic-bezier(0.19, 1, .22, 1);
    -ms-transition: opacity .5s cubic-bezier(0.19, 1, .22, 1);
    transition: opacity .5s cubic-bezier(0.19, 1, .22, 1)
}
.animated-item-view-end {
    opacity: 1;
    -ms-filter: none;
    filter: none
}
.avatar {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}
.screenshot {
    display: block;
    width: 580px;
    margin: 0 auto
}
.screenshot-container {
    display: block
}
input,
textarea {
    font-size: 16px
}
input:invalid,
textarea:invalid {
    background-color: #f6f0f0
}
textarea:disabled {
    background-color: #d5d5d5
}
.button {
    color: #fff;
    border: 1px solid #5d910b;
    background: -webkit-linear-gradient(top, #93bd20, #659e10);
    background: -moz-linear-gradient(top, #93bd20, #659e10);
    background: -o-linear-gradient(top, #93bd20, #659e10);
    background: -ms-linear-gradient(top, #93bd20, #659e10);
    background: linear-gradient(to bottom, #93bd20, #659e10);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 3px 7px rgba(0, 0, 0, .7);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 3px 7px rgba(0, 0, 0, .7);
    background-color: #93bd20;
    padding: 10px 12px;
    line-height: 14px;
    font-size: 14px;
    display: inline-block;
    text-align: center
}
.button:hover {
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .3);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .3)
}
.button:active,
.button.active {
    background: -webkit-linear-gradient(top, #749619, #527f0e);
    background: -moz-linear-gradient(top, #749619, #527f0e);
    background: -o-linear-gradient(top, #749619, #527f0e);
    background: -ms-linear-gradient(top, #749619, #527f0e);
    background: linear-gradient(to bottom, #749619, #527f0e);
    background-color: #659e10;
    border: 1px solid #527f0e;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(0, 0, 0, 0)
}
.header {
    max-width: 950px;
    margin: 8px auto;
    padding: 0 20px
}
.header-auth {
    float: right;
    margin-top: 2px
}
.logged-out .header-auth {
    margin-top: 7px
}
.header-avatar {
    width: 30px;
    height: 30px
}
.header-logo {
    float: left;
    font-family: OpenSansLight, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 36px
}
.header-links {
    float: left;
    margin-left: 10px;
    margin-top: 7px
}
.header-link {
    float: left;
    padding: 0 10px
}
@media all and (max-width: 380px) {
    .header-link {
        position: absolute;
        top: 65px;
        left: 10px
    }
}
.header-container {
    z-index: 100;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    position: absolute;
    background: url(../images/nav-bg.gif) #353535;
    border-bottom: 4px solid #434343;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25)
}
.navigation>h2 {
    margin-bottom: 0
}
.navigation-link[data-type=login] {
    margin-left: 5px
}
.spinner {
    width: 24px
}
.new-topic-form-fields {
    height: 0;
    opacity: 0;
    -ms-filter: "alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition-property: height, visibility, opacity;
    -moz-transition-property: height, visibility, opacity;
    -o-transition-property: height, visibility, opacity;
    -ms-transition-property: height, visibility, opacity;
    transition-property: height, visibility, opacity;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    -ms-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -ms-transition-timing-function: ease-in;
    transition-timing-function: ease-in
}
.new-topic-form-fields input,
.new-topic-form-fields textarea {
    display: none
}
.new-topic-form-fields.visible {
    height: 311px;
    padding-bottom: 10px;
    opacity: 1;
    -ms-filter: none;
    filter: none
}
.new-topic-form-fields.visible input,
.new-topic-form-fields.visible textarea {
    display: inline
}
.new-topic-form-toggle-fields-button-container {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    margin: 9px 0
}
.new-topic-form-title,
.new-topic-form-text {
    padding: 6px
}
.new-topic-form-title {
    width: 50%;
    font-size: 25px;
    font-weight: 700;
    color: #444
}
.new-topic-form-text {
    width: 100%;
    height: 200px;
    margin: 10px 0
}
.new-topic-form-submit-button-container {
    display: none;
    text-align: right
}
.new-topic-form-fields.visible .new-topic-form-submit-button-container {
    display: block
}
.user-repo-sync-button-container {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    margin: 9px 0
}
.user-repo-list {
    padding-left: 20px
}
.user-repo-list li {
    font-size: 25px
}
.user-organization-list-container {
    position: relative;
    float: right;
    width: 220px;
    text-align: right;
    direction: rtl
}
.user-organization-list-container>h4 {
    padding-left: 5px
}
.user-organization {
    display: inline-block;
    width: 70px;
    height: 70px;
    padding: 5px
}
@media all and (max-width: 700px) {
    .new-topic-form-toggle-fields-button-container,
    .user-repo-sync-button-container {
        position: relative
    }
    .user-organization-list-container,
    .user-owner-list-container {
        float: none;
        width: auto;
        text-align: left;
        direction: ltr
    }
}
.ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
    *line-height: 0
}
.ir br {
    display: none
}
.hidden {
    display: none!important;
    visibility: hidden
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}
.invisible {
    visibility: hidden
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table
}
.clearfix:after {
    clear: both
}
.clearfix {
    *zoom: 1
}
@media print {
    * {
        background: transparent!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important;
        filter: none!important;
        -ms-filter: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: ""
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    tr,
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100%!important
    }
    @page {
        margin: .5cm
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}
