<div id="summary">
  <h1>Summary</h1>
  <div id="food-list">
    <ul class="user-repo-list">
      <li class="user-repo animated-item-view animated-item-view-end"><a href="/foods/1">
      Food 1
      </a>
      </li>
      <li class="user-repo animated-item-view animated-item-view-end"><a href="/foods/2">
      Food 2
      </a>
      </li>
      <li class="user-repo animated-item-view animated-item-view-end"><a href="/foods/3">
      Food 3
      </a>
      </li>
      <li class="user-repo animated-item-view animated-item-view-end"><a href="/foods/4">
      Food 4
      </a>
      </li>
      <li class="user-repo animated-item-view animated-item-view-end"><a href="/foods/5">
      Food 5
      </a>
      </li>
    </ul>
  </div>
  <div id="price">30$</div>
  <div id="address">Home blablabla</div>
  <input type="checkbox" id="cc" value="1"/><label for="cc">Credit Card</label></br>
  <button id="finish" class="button new-topic-form-toggle-fields-button">finish</button>
</div>
